#!/bin/bash

# Script must be non-blocking or run in the background for use in user_data.

mkdir -p /config/cloud

cat << 'EOF' > /config/cloud/startup-script.sh
#!/bin/bash

# prevent prompting for restart when installing core packages such as libssl
DEBIAN_FRONTEND=noninteractive
echo '* libraries/restart-without-asking boolean true' | sudo debconf-set-selections

# install dependencies
sudo apt -y update && sudo apt -y upgrade
sudo apt install -y software-properties-common ansible python-apt python3-pip docker-compose
sudo pip3 install -q jmespath
sudo systemctl enable docker
sudo systemctl restart docker
sudo usermod -a -G docker ubuntu

### Clean up
rm /config/cloud/startup-script.sh 
EOF

# Now run in the background to not block startup
chmod 755 /config/cloud/startup-script.sh 
nohup /config/cloud/startup-script.sh &